.spiner {
  display: grid;
  grid-row: 3;
  grid-column: 2;
  position: relative;
  align-self: center;
  justify-self: center;

  div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: black;
    animation: spiner-animation 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  
    &:nth-child(1) {
      left: 8px;
      animation-delay: -0.24s;
    }

    &:nth-child(2) {
      left: 32px;
      animation-delay: -0.12s;
    }

    &:nth-child(3) {
      left: 56px;
      animation-delay: 0;
    }
  }
}

@keyframes spiner-animation {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
