.container {
  display: grid;
  grid-row: 2 / 5;
  grid-column: 1 / 4;
  padding: 24px;
  grid-template-rows: 10% auto 10%;
  grid-template-columns: 10% auto 10%;

  .header {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: center;
    font-size: 24px;
  }

  textarea {
    grid-row: 2;
    grid-column: 2;
    padding: 8px;
    resize: none;
  }

  .btnGroup {
    grid-row: 3;
    grid-column: 2;
    justify-self: end;
    align-self: center;

    button {
      padding: 12px;
      font-size: 18px;
      margin: 8px;
    }
  }
}