.likeBtn {
  user-select: none;
  background: transparent;
  border: 0;
  
  &:focus {
    outline: none;
  }

  &.right {
    grid-row: 4;
    grid-column: 1;
    align-self: end;
    justify-self: start;
  }

  &.left {
    grid-row: 3;
    grid-column: 2;
    align-self: end;
    justify-self: end;
  }

  span {
    margin-right: 8px;
  }
}