$bg_body: #969696; 
$bg_gradient_last_color: rgba(0,212,255,1);
$bg_gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(52,9,121,1) 37%, $bg_gradient_last_color 94%);

h1 {
  font-size: 23px;
  text-align: center;
}

.container {
  display: flex;
  grid-row: 2 / 4;
  grid-column: 2;
  align-items: center;
  justify-content: center;

  .form {
    width: 300px;
    padding: 64px 15px 24px;
    margin: 0 auto;
    .control {
      margin: 0 0 24px;
      input {
        width: 100%;
        padding: 14px 16px;
        border: 0;
        background: transparent;
        color: black;
        font-family: monospace, serif;
        letter-spacing: 0.05em;
        font-size: 16px;
        &:hover,
        &:focus {
          outline: none;
          border: 0;
        }
        &::placeholder {
          color: black;
        }
      }
    }
    .btn {
      width: 100%;
      display: block;
      padding: 14px 16px;
      background: transparent;
      outline: none;
      border: 0;
      color: black;
      letter-spacing: 0.1em;
      font-weight: bold;
      font-family: monospace;
      font-size: 16px;
    }
  }
  
  .blockCube {
    position: relative;
    .bgTop {
      position: absolute;
      height: 10px;
      background: rgb(2,0,36);
      background: $bg_gradient;
      bottom: 100%;
      left: 5px;
      right: -5px;
      transform: skew(-45deg, 0);
      margin: 0;
      .bgInner{
        bottom: 0;
      }
    }
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: rgb(2,0,36);
      background: $bg_gradient;
    }
    .bgRight {
      position: absolute;
      background: rgb(2,0,36);
      background: rgba(0,212,255,1);
      top: -5px;
      z-index: 0;
      bottom: 5px;
      width: 10px;
      left: 100%;
      transform: skew(0, -45deg);
      .bgInner {
        left: 0;
      }
    }
    .bg {
      .bgInner {
        transition: all 0.2s ease-in-out;
      }
    }
    .bgInner {
      background: $bg_body;
      position: absolute;
      left: 2px;
      top: 2px;
      right: 2px;
      bottom: 2px;
    }
    .text {
      position: relative;
      z-index: 2;
    }  
    &.blockInput {
      input {
        position: relative;
        z-index: 2;
        &:focus ~ .bgRight .bgInner,
        &:focus ~ .bgTop .bgInner,
        &:focus ~ .bgInner .bgInner {
          top: 100%;
          background: black;
        }    
      }
      .bgTop,
      .bgRight,
      .bg {
        background: black;
        transition: background 0.2s ease-in-out;
      }
      .bgRight,
      .bgTop {
        .bgInner {
          transition: all 0.2s ease-in-out;
        }
      }
      &:focus,
      &:hover {
          .bgTop,
          .bgRight,
          .bg {
            background: black;
            }
      }
    }
    // State hover, focus
    &.blockCubeHover:focus,
    &.blockCubeHover:hover {
      color: #fff;
      .bg {
        .bgInner {
          top: 100%;
        }
      }
    }
  }
}

