.container {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 16px;
  grid-row: 2;
  grid-column: 2;

  .userInfo {
    display: flex;
    background-color: #9b9b9b;
    color: #fff;
    box-shadow: 2px 3px 5px #464545;

    .userName {
      padding: 8px;
      border-right: 1px solid black;
    }

    .email {
      padding: 8px;
    }
  }

  button {
    padding: 8px;
    margin: 8px;
    border-radius: 2px;
    border: 0px;
    box-shadow: 2px 3px 5px #9b9b9b;
  }
}